<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nistic.dvorakkeyboard">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="nistic.dvorakkeyboard.MainActivity"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MyInputMethodService"
            android:label="Dvorak Keyboard"
            android:exported="false"
            android:permission="android.permission.BIND_INPUT_METHOD">

            <meta-data android:name="android.view.im" android:resource="@xml/method" android:windowSoftInputMode="adjustResize"/>
            <intent-filter>
                <action android:name="android.view.InputMethod" android:windowSoftInputMode="adjustResize"/>
            </intent-filter>
        </service>
    </application>

</manifest>